/* text */
.text-primary {
    color: $primary !important;
}
.text-danger {
    color: $danger !important;
}
.text-gray {
    color: $gray !important;
}
/* background */
.bg-secondary {
    background: $secondary !important;
}
/* border */
.border-dark {
    border-color: $dark;
}